.click{
    width: 90vw;
    margin: 1rem auto;
    color: #FFF;
    text-align: center;
}

.album{
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
}

.album img{
    max-width: 100%;
}

.album h2{
    color: #EFEEE0;
    font-weight: 700;
    text-align: center;
}

.album h4{
    color: #EFEEE0;
    font-weight: 700;
    text-align: center;
}

.album__list{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    gap: .5rem;
    padding: 2rem;
}

@media (max-width: 640px) {
   .album__list{
       width: 100%;
   }
}

.album__list div{    
    padding: 2rem; display: flex;
    justify-content: space-between;
    background-color: #1A1E1F;
    border-radius: 15px;
    padding: .5rem 1rem;
    align-items: center;
}

.album__list div img{
    height: 25px;
}

.album__list p{
    color: #EFEEE0;
}

.album__play{
    height: 25px!important;
    cursor: pointer;
}