.section{
    margin-bottom: 4rem;
}

.click{
    width: 90vw;
    margin: 1rem auto;
    color: #FFF;
    text-align: center;
}

.album{
    width: 90vw;
    margin: 1rem auto;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, transparent 0%, #1D2123 30%), url('./img/background.jpg');    
    background-position: center;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5)
}

.album img{
    max-width: 100%;
}

.album h2{
    color: #EFEEE0;
    font-weight: 700;
    text-align: center;
}

.album h4{
    color: #EFEEE0;
    font-weight: 700;
    text-align: center;
}

.album__list{
    width: 70%;
    height: auto;
    margin: 2rem auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    gap: .5rem;
    padding: 2rem;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
   .album__list{
       width: 100%;
   }
}

.album__list div{    
    padding: 2rem; display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.10);    
    backdrop-filter: blur(15px);
    background-color: #1A1E1F;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: .5rem 1rem;
    align-items: center;
}

.album__list div img{
    height: 25px;
}

.album__list p{
    color: #EFEEE0;
}

.album__play{
    height: 25px!important;
    cursor: pointer;
}