.top{
    width: 90vw;
    margin: 4rem auto;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, transparent 0%, #1D2123 30%), url('./img/background.jpg');
    /* background-size: cover; */
    background-position: center;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5)
}

.top h1{
    color: var(--light, #EFEEE0);
    font-weight: 700;
    text-align: center;
    margin: 2rem auto;
}

.top__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    height: auto;   
    gap: 1rem; 
}

.top__list div {
    max-width: 15%;
    height: auto;    
    margin: 1rem;
}

@media (max-width: 640px) {
    .top__list div {
        max-width: 40%;
        margin: 1rem auto;
    }
}


.top__list img{
    max-width: 100%;
}

.top__list p{
    color: #FFF;
    font-weight: 400;
    text-align: center;
    margin-top: .5rem;
}