.container {
    display: flex;
    position: relative;
    width: 90vw;
    margin: 2rem auto;
    height: fit-content;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, transparent 0%, #1D2123 30%), url('./img/background.jpg');
    /* background-size: cover; */
    background-position: center;
    box-shadow: 10px -10px 10px -10px rgba(0, 0, 0, 0.5)
}

.album__title {
    text-align: center;
    color: #EFEEE0;
    font-weight: 700;
}

.album {
    width: 50%;
    height: 70vh;
    display: flex;
    margin-left: 0 auto;
    align-items: center;
    justify-content: space-around;
    column-count: 2;
}

.album img {
    border-radius: 15px;
    width: auto;
    height: 60vh;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .container {
        display: inline-block;
        margin-left: 1rem;
    }

    .album {
        width: 90%;
        margin: 0 auto;
    }

    .album div {
        width: 100%;
        margin: 0 auto;
    }

    .album div img {
        width: 100%;
    }
}


.artist {
    width: 50%;
    margin: 0 auto;    
    align-items: center;
    text-align: center;
    padding: 0 3rem;
}

.artist h1 {
    color: #EFEEE0;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    margin: 0 auto;
}

.artist__singers {
    column-count: 3;
    column-gap: 5rem;
}

.artist__cover {
    height: 17vh;
    width: auto;
    margin-bottom: 2rem;
    break-inside: avoid;
}

.artist__cover img {
    height: 100%;
    border-radius: 15px;
}

.artist__cover p {
    font-weight: 400;
    color: #FFF;

}

@media (max-width: 960px) {
    .artist {
        width: 90% !important;
        margin-left: 1rem !important;
        padding: 1rem 0;
        height: fit-content;
    }

    .artist__singers {
        column-count: 2 !important;
        width: 90vw;
        margin: 1rem auto;
        column-gap: 0 !important;
    }

    .artist__singer a {
        width: 100vw;
    }

    .artist__cover {
        width: 50%;
    }
}