.nav {
    display: flex;
    width: 90vw;
    margin: 1rem auto;
    align-items: center;
}


@media (max-width: 640px) {
    .nav {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .search {
        width: 100%;
    }
}

.nav img {
    width: 7rem;
    height: 40px;
    margin: 1rem;

}

.search {
    display: flex;
    width: 60vw;
    margin: auto;
}

.search img {
    width: 1.5rem;
    height: auto;
}

.search input {
    width: 100%;
    height: 1.5rem;
    margin: auto;
    padding: 0;
    background: #1D2123;
    border: none;
    color: rgba(255, 255, 255, 0.25);
    padding-left: 1rem;
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.search input:after {
    background-image: url(../img/search.svg);
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.25);
    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}