body{
    background: #1D2123 !important;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
}

a{
    text-decoration: none !important;
}

a:hover{
    cursor: pointer;
}